    <div class="{{CSS_CLASSES.optionCombo}} {{CSS_CLASSES.filter}}">
            <h2>Filter:</h2>
            <ul class="{{CSS_CLASSES.optionSet}} {{CSS_CLASSES.clearfix}}" data-option-key="filter">
                    {{#each filterOptions}}
                            <li><a data-filter-value="{{value}}" class="{{value}}">{{label}}</a></li>
                    {{/each}}
            </ul>
            <input id="filterField" type="text" size="25" value="Enter search here.">
    </div>
    <div class="{{CSS_CLASSES.optionCombo}}">
            <ul class="{{CSS_CLASSES.optionButton}} {{CSS_CLASSES.clearfix}}">
                <li><a class="{{CSS_CLASSES.refresh}}">Refresh</a></li>
            </ul>
    </div>