            {{#if node.label}}
                    <h3 class="{{CSS_CLASSES.tileClasses.content}} {{CSS_CLASSES.tileClasses.labelEN}}">{{node.label.value}}</h3>
            {{/if}}
            {{#ifLang node.description}}
                    <div class="{{CSS_CLASSES.tileClasses.content}} {{CSS_CLASSES.tileClasses.descriptionEn}}">{{node.description.value}}</div>
            {{/ifLang}}
            {{#if node.predicates}}
            {{#each node.predicates}}
                    <img class="{{../CSS_CLASSES.tileClasses.typeImage}}" src="img/{{type}}.png">
                    <div class="{{../CSS_CLASSES.tileClasses.content}} {{../CSS_CLASSES.tileClasses.predicate}}" style="display:none">{{value}}</div>
                    {{#predicateLabelRetriver this}}
                        <div class="{{../../CSS_CLASSES.tileClasses.content}} {{../../CSS_CLASSES.tileClasses.predicateLabel}}">{{label}}</div>
                    {{/predicateLabelRetriver}}
            {{/each}}
            {{/if}}