            {{#compsEach node "label"}}
                    <div class="{{toClass type}} {{toClass id}}">{{tScaleWrap data.value}}</div>
            {{/compsEach}}
            {{#compsEach node "description"}}
                {{#ifLang this}}
                        <div class="{{toClass type}} {{toClass id}}">{{tScaleWrap data.value}}</div>
                {{/ifLang}}
            {{/compsEach}}
            {{#compsEach node "predicate"}}
                    <div class="{{toClass id}}">
                        <img class="{{../CSS_CLASSES.tileClasses.typeImage}}" src="img/{{data.type}}.png">
                        <div class="{{../CSS_CLASSES.tileClasses.predicate}}" style="visibility:hidden; overflow-y:auto; word-wrap:break-word">{{tScaleWrap data.value}}</div>
                        {{#predicateLabelRetriver data}}
                            <div class="{{../../CSS_CLASSES.tileClasses.predicateLabel}}" style="overflow-y:auto; word-wrap:break-word">{{tScaleWrap data.label}}</div>
                        {{/predicateLabelRetriver}}
                    </div>
            {{/compsEach}}