<div class="{{CSS.tile}}  {{data.detripler.id}} {{CSS.semantic_color}}">
    <b>Subgraph:</b>
    <div class="{{CSS.uri}} {{CSS.dynamic_text_size}}">
        {{data.draft.triple.subject}}
    </div>
    <b>is subject of:</b>
    <div class="{{CSS.uri}} {{CSS.dynamic_text_size}}">
        {{data.draft.triple.predicate}}
    </div>
</div>