<div class="{{CSS.tile}}  {{data.detripler.id}} {{CSS.semantic_color}}">
    <b>Resource:</b>
    <div class="{{CSS.uri}} {{CSS.dynamic_text_size}}">
        {{data.draft.resource.nominalValue}}
    </div>
    {{#if data.draft.triples.out.length}}
    <b>is object of:</b>
    {{#each data.draft.triples.out}}
        <div class="{{../CSS.uri}} {{../CSS.dynamic_text_size}}">
            {{this.predicate.nominalValue}}
        </div>
    {{/each}}
    {{/if}}
    {{#if data.draft.triples.inc.length}}
    <b>is subject of:</b>
    {{#each data.draft.triples.inc}}
        <div class="{{../CSS.uri}} {{../CSS.dynamic_text_size}}">
            {{this.predicate.nominalValue}}
        </div>
    {{/each}}
    {{/if}}
</div>