<div class="{{CSS.tile}} {{CSS.literal}} {{data.detripler.id}} {{CSS.semantic_color}}">
    <b>Value:</b>
    <div class="{{CSS.dynamic_text_size}} {{CSS.shrink}} {{CSS.y_scroll}}">
        {{data.draft.triple.object}}
    </div>
    <b>is object of:</b>
    <div class="{{CSS.uri}} {{CSS.dynamic_text_size}}">
        {{data.draft.triple.predicate}}
    </div>
</div>