<div class="{{CSS.tile}}  {{data.detripler.id}} {{CSS.semantic_color}}">
    <b>Resource:</b>
    <div class="{{CSS.uri}} {{CSS.dynamic_text_size}}">
        {{data.draft.triple.object}}
    </div>
    <b>is object of:</b>
    <div class="{{CSS.uri}} {{CSS.dynamic_text_size}}">
        {{log data.draft.triple.predicate}}
        {{data.draft.triple.predicate}}
    </div>
</div>