		      
		<div class="{{CSS_CLASSES.overlay}}">
            <div style="visibility:hidden">{{id}}</div>
            <span class="{{CSS_CLASSES.buttonTimeline}}">history</span>
			<span class="{{CSS_CLASSES.buttonClose}}">close</span>
			<div class="{{CSS_CLASSES.overlayContent}}">
			</div>
		</div>