	<div class="{{CSS_CLASSES.optionCombo}} {{CSS_CLASSES.sorter}}">
		<h2>Sort:</h2>
		<ul class="{{CSS_CLASSES.optionSet}} {{CSS_CLASSES.clearfix}}" data-option-key="sortBy">
			{{#keysEach optionSet}}
				<li><a data-sort-value="{{.}}" class="{{.}}">{{.}}</a></li>
			{{/keysEach}}
		</ul>
	</div>