	<div class="item {{subject.token}} {{#if type}}{{type.value}}{{/if}} {{index}}">
		{{#if subject}}
			<h2 class="showUri" style="display:none">{{subject.value}}</h2>
		{{/if}}
		<p class="number" style="display:none">{{index}}</p>
		{{> isotopeItemContent}}
	</div>